{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <h1>Welcome to ACME Aircraft Parts</h1>
      <div class= "section">
        <a href="{{ url_for('create_customer') }}">Add a Customer</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>These are all of our awesome customers:</h3>
        <table class="striped">
          <thead>
            <tr>
              <th data-field="company">First Name</th>
              <th data-field="email">Last Name</th>
              <th data-field="email">Company</th>
              <th data-field="email">Email</th>
              <th data-field="email">Phone Number</th>
            </tr>
          </thead>
          {% for customer in customers %}
            <tr>
              <td>{{ customer['first_name'] }}</td>
              <td>{{ customer['last_name'] }}</td>
              <td>{{ customer['company'] }}</td>
              <td>{{ customer['email'] }}</td>
              <td>{{ customer['phone_number'] }}</td>
              <!-- Add more fields to showcase on this page
              Below is a method of adding the 'add an order' button which will route you to create_order in views.py -->
              <td><a href="{{ url_for('create_order', value=customer['customer_id']) }}">Add an Order</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="section">
        <h3>Orders from Customers:</h3>
        <!-- Display all the current existing order information here -->
        <table class="striped">
          <thead>
            <tr>
              <th data-field="company">Name of Part</th>
              <th data-field="email">Manufacturer of Part</th>
              <th data-field="email">Customer ID</th>
            </tr>
          </thead>
          {% for order in orders %}
            <tr>
              <td>{{ order['name_of_part'] }}</td>
              <td>{{ order['manufacturer_of_part'] }}</td>
              <td>{{ order['customer_id'] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
