#breadcrumb-header {
	margin-top: 50px;
}
#homepage-image {
	width: 200px;
}
#homepage-image img {
	width:100%;
}
#trip_friend {
    display: block;
}

.trip_friend {
    display: block;
}

select {
    display: block;
}

/*CSS for the file upload button on product.html */
.inputfile {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		
		z-index: -1;
    margin-top:10px;
}
.inputfile + label {
	 
		/* 20px */
		width: 50%;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
		padding-left: 0.75em;
		padding-right: 0.75em;
		border: 1px solid #dbdbdb;
		height: 2.285em;
		box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
		line-height: 1.5rem;
		border-radius: 3px;
		padding-top: 0.3em;
    
		/* 10px 20px */
}
.no-js .inputfile + label {
		display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
		border-color: #00d1b2;
}
.inputfile + label * {
		/* pointer-events: none; */
		/* in case of FastClick lib use */
}
.inputfile + label svg {
		width: 1em;
		height: 1em;
		line-height: 1.5rem;
		vertical-align: middle;
		margin-top: -0.25em;
		/* 4px */
		margin-right: 0.25em;
		/* 4px */		 
}
.inputfile-2 + label {
		border: 1px solid #dbdbdb;
}
.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
		border-color: #00d1b2;
}

/* DIMITRIS: I added this to keep those apples pics small :P :P change it however is more appropriate!*/
.prod  {
	height: 30px;
	width: 30px;
}

.profPic {
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;	
	/*border-color: #00d1b2;	*/
}

.added_msg {
	text-align: center;
	color: green;
	font-weight: bold;
	padding-top: 0.7em; 
}

.farmer_welcome{
	padding-left: 200px;
}

.fulfilled{
	background: lightgrey;
}

