{% extends "base.html" %}
{% block content %}
  
  <div class="container">
    <p style="text-decoration: underline">Logged in as: {{ user }}</p>
    <a href="{{ url_for('logout') }}">Logout</a><br>
    <a href="{{ url_for('friends') }}">Add friends</a>
    <div class="row">
      <h1>Welcome to 0.0 Travel App</h1>
      <div class= "section"> 
        <a href="{{ url_for('create_trip') }}">Add a trip</a>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h3>Here's the trip information:</h3>
        
        <table class="striped">
          <thead>
            <tr>
              <th data-field="Trip Title">Trip Title</th>
              <th data-field="Destination">Destination</th>
            </tr>
          </thead>
          {% for trip in trips %}
            <tr>
              <td>{{ trip['trip_title'] }}</td>
              <td>{{ trip['trip_destination'] }}</td>
  
              <td><a type="submit" href="{{ url_for('tripsrem', value=trip['trip_title']) }}">Remove Trip</a></td>

            </tr>
          {% endfor %}
        </table>
      </div>
      {% for trip in trips %}
      <iframe width="390" height="240" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{ trip['trip_destination'] }}&key=AIzaSyBqeReBHW8oiFkhcAzctotdVt-9G7i_dJk" allowfullscreen></iframe>
      {% endfor %}
    </div>
  </div>
{% endblock %}
