{% extends "base.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="/static/modal.css">
{% endblock %}

{% block content %}
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Your Shopping Cart</h1>
      <h1 class="subtitle">We Can't Wait To Process Your Order And Deliver Your Products</h1>
    </div>
  </div>
</section>

<section class="hero is-white">
  <div class="hero-body container is-fluid">
    <h1 class="title">Your Shopping Cart:</h1>
    <form action="" method="get" name="update_remove">

        <section>
            <div class="table_title">
<!--                 <h4>Farmers Market Products</h4> -->
            </div>

            <table class = "table">
                <thead>
                    <tr>
                        <th class="product_col category_col">Product</th>
                        <th class="type_col category_col">Type</th>
                        <th class="quantity_col category_col">Quantity</th>
                        <th class="price_col category_col">Price/Unit</th>
                        <th class="market_col category_col">Market</th>
                        <th class="totalPrice_col category_col">Total Price</th>
                        <!-- <th class="market_col category_col">Total Price</th> -->
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                

                <!--D Are all these ID's and CLASSES needed in the forms above and below? Let's leave those to be determined by whoever develops the relevant CSS or JS -->


                <tbody>
                    {% for item in cartList %}
                    <tr>
                        <td class="product_col category_col">{{ item['Product'] }}</td>  
                        <td class="type_col category_col">{{ item['Product Type'] }}</td>
                        <td class="quantity_col category_col">
                            <select class="quantity_cart_filter select" name="quantity_cart_filter">
                                <option>{{ item['Quantity'] }}</option>
                                {% for quantity in range(21) %}
                                <option>{{quantity}}</option>
                                {% endfor %}
                            </select>  
                        </td>
                        <td style="display: none" class="units_col category_col">{{ item['units'] }}</td>
                        <td style="display: none" class="price_col category_col">{{ item['Price'] }}</td>
                        <td class="price_unit_col category_col">${{ item['Price'] }} {{ item['units'] }}</td>
                        <td class="market_col category_col">{{ item['marketID'] }}</td>
                        <td class="totalPrice_col category_col">${{ '%.2f' % item['totalPrice'] }}</td>
                        <td style="display: none" class="Product_id_col">{{ item['Product_id'] }}</td>
                        <td style="display: none" class="ProducerID_col">{{ item['ProducerID'] }}</td>
                        <td style="display: none" class="_id_col">{{ item['_id'] }}</td>
                        <td><input class="checkbox" type="checkbox" checked="checked" value="true"></td>
                        <td class="remove_col_cart button_col"><button  class="button is-small is-white has-text-primary name="remove" value="Remove">Remove</button></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="field is-grouped-left">
                <p class="control">
                    <a class="reserve_button button is-primary" href="{{ url_for('reservations') }}">Reserve Produce</a>
                    
                </p>
            </div>
            <div class="field is-grouped-left">
                <p class="control">
                    <a class="button is-outlined is-primary" href="{{ url_for('shop_produce') }}">Continue Shopping</a>
                    
                </p>
            </div>
            
        </section>
    </form>
</section>
<script src="{{ url_for('static', filename="main.js")}}"></script>



{% endblock %}