{% extends "base.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="/static/modal.css">
{% endblock %}

{% block content %}
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Your Shopping Cart</h1>
      <h1 class="subtitle">We Can't Wait To Process Your Order And Deliver Your Products</h1>
    </div>
  </div>
</section>

<section class="hero is-white">
  <div class="hero-body">
    <h1 class="title">Your Shopping Cart:</h1>
    <form action="" method="get" name="update_remove">

        <section>
            <div class="table_title">
<!--                 <h4>Farmers Market Products</h4> -->
            </div>

            <table class = "table" id="product_table">
                <thead>
                    <tr>
                        <th class="product_col category_col">Product</th>
                        <th class="type_col category_col">Type</th>
                        <th class="quantity_col category_col">Quantity</th>
                        <th class="units_col category_col"></th>
                        <th></th>
                        <th></th>
                        <th class="price_col category_col">Price/Unit</th>
                        <th class="market_col category_col">Market</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                

                <!--D Are all these ID's and CLASSES needed in the forms above and below? Let's leave those to be determined by whoever develops the relevant CSS or JS -->


                <tbody>
                    {% for item in cartList %}
                    <tr>
                        <td class="product_col category_col">{{ item['Product'] }}</td>  
                        <td class="type_col category_col">{{ item['Product Type'] }}</td>
                        <td class="quantity_col category_col">1</td>
                        <td class="units_col category_col">{{ item['units'] }}</td>
                        <td class="pos_increment_col button_col"><a  name="increment" value="+">+</a></td>
                        <td class="neg_increment_col button_col"><a  name="decrement" value="-">-</a></td>
                        <td class="price_col category_col">{{ item['Price'] }}</td>
                        <td class="marketcol category_col">{{ item['marketID'] }}</td>
                        <td style="display: none" class="id_col">{{ item['_id'] }}</td>
                        <td><input class="checkbox" type="checkbox" checked="checked" value="true"></td>
                        <td class="remove_col button_col"><button  name="remove" value="Remove">Remove</button></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="field is-grouped-left">
                <p class="control">
                    <a class="reserve_button button is-primary" href="{{ url_for('reservations') }}">Reserve Produce</a>
                    
                </p>
            </div>
            <div class="field is-grouped-left">
                <p class="control">
                    <a class="button is-primary" href="{{ url_for('shop_produce') }}">Continue Shopping</a>
                    
                </p>
            </div>
            
        </section>
    </form>
</section>
<script src="{{ url_for('static', filename="main.js")}}"></script>



{% endblock %}