{% extends "base.html" %}

{% block head %}

<link type="text/css" rel="stylesheet" href="/static/modal.css">
{% endblock %}

{% block content %}
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome Farmer John</h1>
      <h1 class="subtitle">Your Products Can't Wait to Get Sold</h1>
    </div>
  </div>
</section>

<section class="hero is-white">
  <div class="hero-body">
    <h1 class="title">Farmers Market Products:</h1>

    <div class="field is-grouped-right">
        <p class="control">
            <a class="button is-primary" href="{{ url_for('reservations') }}">Reservations</a>  
        </p>
    </div>

    <form action="" method="get" name="update_remove">

        <section>
            <div class="table_title">
<!--                 <h4>Farmers Market Products</h4> -->
            </div>

            <table class = "table" id="product_table">
                <thead>
                    <form>
                        <div class="field">
                        
                        <div>
                        <h2>Farm Profile Pic</h2>
                        <img class="profPic" onerror="this.src='{{url_for('static', filename='file_uploads/no_image.jpg')}}'" src="{{url_for('static', filename=farmer['Image'])}}" id="product-image">
                        </div>

                        <label class="label">Select farmers market:
                        </label>
                        <div class="select is-medium">
                            <select id="farmers_market">
                                <option>{{filters['MarketID']}}</option>
                                {% for market in marketList %}
                                <option>{{ market }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                    <tr>
                        <th class="image_col" class="category_col">Image</th>
                        <th class="marketID_col" class="category_col">Market</th>
                        <th class="product_col" class="category_col">Product</th>
                        <th class="type_col" class="category_col">Type</th>
                        <th class="units_col" class="category_col">Units</th>
                        <th class="quantity_col" class="category_col">Quantity</th>
                        <th class="price_col" class="category_col">Price</th>
                        
                        <th class="update_col" class="button_col"></th>
                        <th class="remove_col" class="button_col"></th>
                    </tr>
                </thead>
                

                <!--D Are all these ID's and CLASSES needed in the forms above and below? Let's leave those to be determined by whoever develops the relevant CSS or JS -->


                <tbody>
                    {% for product in productList %}
                    <tr>
            			<td><img class="prod" onerror="this.src='{{url_for('static', filename='file_uploads/no_image.jpg')}}'" src="{{url_for('static', filename=product['Image'])}}" id="product-image"></td>
                        <td class="marketID_col" class="category_col">{{ product['MarketID'] }}</td>
                        <td class="product_col" class="category_col">{{ product['Product'] }}</td>                        
                        <td class="type_col" class="category_col">{{ product['Product Type'] }}</td>                        
                        <td class="units_col" class="category_col">{{ product['units'] }}</td>                        
                        <td class="quantity_col" class="category_col">{{ product['Quantity'] }}</td>                    
                        <td class="price_col" class="category_col">{{ product['Price'] }}</td>
                        <td style="display: none" class="id_col" class="id_col">{{ product['_id'] }}</td>
                        <td class="update_col" class="button_col"><button  name="update" value="Update">Update</button></td>   
                        <td class="remove_col" class="button_col"><button  name="remove" value="Remove">Remove</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </form>
    <div id="myModal" class="modal">

  <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
            <p>Select a picture to upload..</p>
            <form action = {{ url_for('file_upload') }} method = "POST" 
                enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input style="display: none" type="text" name="_id">
                <input type = "submit"/>
            </form>
        </div>

    </div>
    <div class="field is-grouped-left">
        <p class="control">
            <a class="button is-primary" href="{{ url_for('add_product') }}">Add Product</a>
            
        </p>
    </div>
</section>
<!--C 'static' is the folder that we are telling this script tag to look, where the main.js file is located.
If we needed this to look/retrieve python, we could use '/whatever to be routed to the /whatever route' -->
<script src="{{ url_for('static', filename="main.js")}}"></script>
<script src="{{ url_for('static', filename="modal.js")}}"></script>
{% endblock %}
