{% extends "base.html" %}
{% block content %}

<!-- Template home page that differentiates between logins -->

<h2>Home</h2>


<section>
    <div>
        <p>THIS IS A TEMPORARY ROUTING FOR DEVELOPING THE INTERFACES</p>
        <h4>I am a:</h4>
        <!-- <a href="{{ url_for('farmer_home') }}">Farmer</a> -->
        <!-- <a href="{{ url_for('consumer_home') }}">Consumer</a> -->
    </div>
    <div>
        <p>Still need to make login conditional in the code</p>
        <a href="{{ url_for('login') }}">login</a><br>
        <a href="{{ url_for('create_newProducer') }}">Register Producer</a>
        <a href="{{ url_for('create_newConsumer') }}">Register Consumer</a>

    </div>
</section>

{% endblock %}
