{% extends "base.html" %}

{% block content %}
<section class="hero is-primary is-bold">
  <div class="hero-body" id="home-hero">
      <div class="columns">
        <div class="column">
          <div class="content has-text-centered">
            <br>
            <span class="icon">
              <i class="fas fa-3x fa-search"></i>
            </span>
            <br>
            <br>
            <br>
              <p class="title has-text-centered">Search</p>
              <p class="heading has-text-centered">Delicious produce in your area.</p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <br>
            <span class="icon">
              <i class="fas fa-3x fa-shopping-cart"></i>
            </span>
            <br>
            <br>
            <br>
              <p class="title has-text-centered">Order</p>
              <p class="heading  has-text-centered">Directly from the farmer.</p>
          </div>
        </div>  
        <div class="column">
          <div class="content has-text-centered">
            <br>
            <span class="icon">
              <i class="fas fa-3x fa-handshake"></i>
            </span>
            <br>
            <br>
            <br>
              <p class="title has-text-centered">Pickup</p>
              <p class="heading has-text-centered">At a local farmers market<br>or<br>at your front door.</p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <br>
            <span class="icon">
              <i class="fas fa-3x fa-users"></i>
            </span>
            <br>
            <br>
            <br>
              <p class="title has-text-centered">Meet</p>
              <p class="heading has-text-centered">A community.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <section class="articles">
    <div class="column is-12">
      <section class="articles">
        <div class="column is-8 is-offset-2">
         
          <!-- START FARMERS MARKET HEADER -->
          <section class="hero is-primary is-bold is-small promo-block">
            <div class="hero-body">
                <div class="columns">
                  <div class="column is-two-thirds">
                    <h1 class="title">
                    Berkeley Farmers Market
                    </h1>
                    <h2 class="subtitle">
                    <a class="has-text-white-ter" href="https://goo.gl/maps/VDXLCpg6MhL2">1931 Center St, Berkeley, CA 94704</a>
                    </h2>
                  </div>
                  <div class="column is-one-third">
                    <div class="container">
                      <div class="buttons has-addons is-left">
                        <a class="button is-primary is-inverted is-outlined is-medium" href="{{ url_for('shop_produce') }}">SHOP NOW</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </section>
          <!-- END HEADER -->

          <!-- START FARMERS MARKET ARTICLE -->
          <div class="card article">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="/static/Dummy images/BerkeleyFarmersMarket.png">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class=" has-text-centered">
                  <p class="title article-title">One of the first farmers markets in the US, the Downtown Berkeley Farmers Market is a perfect place to bring your whole family.</p>
                </div>
              </div>
              <div class="content article-body">
                  <table>
                    <thead>
                      <tr>
                        <th>Day</th>
                        <th>Hours</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Monday-Friday</td>
                        <td>9:00-5:00</td>
                      </tr>
                      <tr>
                        <td>Saturday</td>
                        <td>9:00-5:00</td>
                      </tr>
                      <tr>
                        <td>Sunday</td>
                        <td>9:00-5:00</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>

      


<!--       <div class="columns is-mobile has-background-dark">
        <div class="column is-half-mobile is-half-tablet is-half-desktop is-one-third-widescreen is-one-third-fullhd">
          <figure class="image is-4by3">
            <img src="https://picsum.photos/400/300">
          </figure>
        </div>
        <div class="column is-half-mobile is-half-tablet is-half-desktop is-two-thirds-widescreen is-two-thirds-fullhd">
          <div class="content is-large">
            <h1>Berkeley Farmers Market</h1>
            <p>Widely regarded as the first farmers market in human history, Berkeley Farmers Market is where people shop who care about the world. <strong>So should you.</strong> </p>
          </div>
          <div class="buttons has-addons is-left">
            <a class="button is-primary is-large" href="{{ url_for('shop_produce') }}">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column">
          <div class="content">
          <h1>Hours of Operation</h1>
            <table>
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Monday-Friday</td>
                  <td>9:00-5:00</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td>9:00-5:00</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>9:00-5:00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>      
  </div>
</section> -->


{% endblock %}