{% extends "base.html" %}

{% block account %}
{% endblock %}
{% block login %}
{% endblock %}

{% block content %}
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Hi There! Welcome to Near Farms.</h1>
      <h1 class="subtitle">Connecting Farmers and Consumers since 2018</h1>
    </div>
  </div>
</section>

<section class="hero is-white">
  <div class="hero-body">
    <h1 class="title">Let's Log You In:</h1>
      <form action="" method="post" name="login">
        {{ loginForm.hidden_tag() }}
        
        <div class="field">
          <label class="label">User type:</label>
            <div class="control">
              <div class="select">
                {{ loginForm.userType }}
              </div>
            </div>
        </div>

        <div class="field">
          <label class="label">Username:</label>
            <div class="control has-icons-left">          
                {{ loginForm.username(size=100, class="input", placeholder="Username") }}
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            </div>
        </div>

        <div class="field">
          <label class="label">Password:</label>
          
          <div class="control has-icons-left">          
              {{ loginForm.password(size=120, class="input", placeholder="Password") }}
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          </div>

          <p style="display:{{ wrong }};color:red">
            Wrong username or password, try again!
          </p>
        </div>
      
      <div class="field is-grouped is-grouped-left">
        <p class="control">
          <input class="button is-primary is-medium" type="submit" value="Login">
        </p>
      </div>
  </div>
</section>
{% endblock %}