{% extends "base.html" %}

{% block JS %}
{% endblock %}

{% block content %}
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome Farmer John</h1>
      <h1 class="subtitle">Your Products Can't Wait to Get Sold</h1>
    </div>
  </div>
</section>

<section class="hero is-white">
  <div class="hero-body">
    <h2 class="title">Add Products:</h2>
      <form action="" method="post" name="add_product">
        {{ productForm.hidden_tag() }}

        <div class="field">
          <label class="label">Product:</label>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left is-expanded">
              {{ productForm.product(size=120, class="input", placeholder="Product") }}
              <span class="icon is-small is-left">
                <i class="fas fa-lemon"></i>
              </span>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Product Type:</label>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left is-expanded">
              {{ productForm.productType(size=120, class="input", placeholder="Product Type") }}
              <span class="icon is-small is-left">
                <i class="fas fa-tag"></i>
              </span>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Product Subtype:</label>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left is-expanded">
              {{ productForm.subType(size=120, class="input", placeholder="Product Subtype") }}
              <span class="icon is-small is-left">
                <i class="fas fa-tags"></i>
              </span>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Quantity:</label>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left is-expanded">
              {{ productForm.quantity(size=120, class="input", placeholder="Quantity") }}
              <span class="icon is-small is-left">
                <i class="fas fa-list-ol"></i>
              </span>
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Price:</label>
          <div class="field-body">
            <div class="field">
              <div class="control has-icons-left is-expanded">
              {{ productForm.price(size=120, class="input", placeholder="Price") }}
              <span class="icon is-small is-left">
                <i class="fas fa-dollar-sign"></i>
              </span>
              </div>
            </div>
          </div>
        </div>    

        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <input class="button is-primary" type="submit" value="Add Product">
          </p>
        </div>
    </form>
    
  </div>
</section>
{% endblock %}