{% extends "base.html" %}

<!-- If logged in: remove login button, display account information and logout button -->
{% block JS %}

{% endblock %}
{% block login %}
{% endblock %}
{% block account %}
<div class="field is-grouped">
    <p class="navbar-item">You are logged in as {{ user }}</p>
    <a class="navbar-item" href="{{ url_for('logout') }}">LOG OUT</a>
</p>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('farmer_home') }}">Home</a>
    </div>
    <h2>Add Products</h2>
    <form action="" method="post" name="add_product">
      {{ productForm.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <p>
          Product:<br>
          {{ productForm.product(size=120) }}<br>
        </p>
        <p>
          Product Type:<br>
          {{ productForm.productType(size=120) }}<br>          
        </p>
        <p>
          Sub Type:<br>
          {{ productForm.subType(size=120) }}<br>
        </p>
        <p>
          Quantity:<br>
          {{ productForm.quantity(size=120) }}<br>
        </p>
        <p>
          Price:<br>
          {{ productForm.price(size=120) }}<br>
        </p>
        <p>
          Image:<br>
          {{ productForm.image(size=120) }}<br>
        </p>
        
      </div>
      <p><input type="submit" value="Add product"></p>
    </form>
    <form action = {{ url_for('file_upload') }} method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>
  </div>
</div>
{% endblock %}