{% extends "base.html" %}
{% block content %}
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Hi There! Welcome to Near Farms.</h1>
      <h1 class="subtitle">Connecting Farmers and Consumers since 2018</h1>
    </div>
  </div>
</section>

<section class="hero is-white">
  <div class="hero-body">
    <h1 class="title">Let's get you signed up:</h1>
    <!-- Bulma form documentation at https://bulma.io/documentation/form/general/ -->
    <form action="/create_newProducer" method="post" name="login">
      {{ newProducerForm.hidden_tag() }}

      <!-- WISHLIST: IMPLEMENT is-horizontal ON ALL FORMS -->
      <!-- https://bulma.io/documentation/form/general/ -->
      <div class="field">
        <label class="label">Name:</label>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">{{newProducerForm.first_name(size=100, class="input", placeholder= "First")}}
            </div>
          </div>
          <div class="field">
            <div class="control is-expanded">
            {{newProducerForm.last_name(size=100, class="input", placeholder= "Last")}}
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Farm Name:</label>
        <div class="control has-icons-left">          
          {{newProducerForm.farm_name(size=100, class="input", placeholder= "Farm Name")}}
          <span class="icon is-small is-left">
            <i class="fas fa-home"></i>
          </span>
      </div>

      <div class="field">
        <label class="label">Farm Description:</label>
        <div class="control has-icons-left">          
          {{newProducerForm.farm_description(size=100, class="input", placeholder= "Farm Description")}}
        <span class="icon is-small is-left">
          <i class="fas fa-home"></i>
        </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Email:</label>
        <div class="control has-icons-left">          
          {{newProducerForm.email(size=100, class="input", placeholder= "Email")}}
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Username:</label>
        <p style="display:{{ wrong }};color:red">
          Username exists, please choose a different one!
        </p>
        <div class="control has-icons-left">          
          {{newProducerForm.username(size=100, class="input", placeholder= "Username")}}
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        </div>
      </div>
     
      <div class="field">
        <label class="label">Password:</label>
        <div class="control has-icons-left">          
          {{newProducerForm.password(size=100, class="input", placeholder= "Password")}}
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </div>
      </div>

      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <input class="button is-primary" type="submit" value="Create New User">
        </p>
      </div>
  </div>
</section>
{% endblock %}
