{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('login') }}">Login</a>
    </div>
    <h4>Hi There! Welcome to Near Farms.</h4><br>
    <h5>Let's get you signed up</h5>
    <form action="" method="post" name="login">
      {{ newProducerForm.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <p>
          First name:<br>
          {{ newProducerForm.first_name(size=120) }}<br>
        </p>
        <p>
          Last name:<br>
          {{ newProducerForm.last_name(size=120) }}<br>
        </p>
        <p>
          Farm Name:<br>
          {{ newProducerForm.farm_name(size=120) }}<br>
        </p>
        <p>
          Email:<br>
          {{ newProducerForm.email(size=120) }}<br>
        </p>
        <p>
          Username:<br>
          {{ newProducerForm.username(size=120) }}<br>
        </p>
        <p style="display:{{ wrong }};color:red">
          Username exists, please choose a different one!
        </p>
        <p>
          Password:<br>
          {{ newProducerForm.password(size=120) }}<br>
        </p>
        <p>
          Farm Description:<br>
          {{ newProducerForm.farm_description(size=120) }}<br>
        </p>
      </div>
    <p><input type="submit" value="Create New User"></p>
  </div>
</div>
{% endblock %}
