{% extends "base.html" %}

{% block JS %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.min.js"></script>
{% endblock %}


{% block content %}
<section class="hero is-primary is-bold">


  <div class="hero-body">
    <div class="container">
      <h1 class="title">Shop for local produce</h1>
      <h1 class="subtitle">We have an amazing assortment just for you</h1>
    </div>
  </div>
</section>

<section class="hero is-white">
   
  <div class="hero-body">
    <h1 class="title">Farmers Market Products:</h1>
        <!-- Adding filters: product, productType, units -->
        <div>
            <p>Filters:</p>
        </div>
        <!-- market filter -->
        <div class="select is-medium">    
            <select id="market_filter" name="market_filter">
                <option>{{filters['MarketID']}}</option>
                {% for market in marketList %}
                <option>{{market}}</option>
                {% endfor %}
            </select>
        </div>
        <!-- product filter -->
        <div class="select is-medium">    
            <select id="product_filter" name="product_filter">
                <option>{{filters['product']}}</option>
                {% for product in ProductList %}
                <option>{{product}}</option>
                {% endfor %}
            </select>
        </div>
        <!-- productType filter -->
        <div class="select is-medium">    
            <select id="productType_filter" name="poductType_filter">
                <option>{{filters['productType']}}</option>
                {% for productType in ProductTypeList %}
                <option>{{productType}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="button is-primary" id="apply_filter_btn" name="apply_filter" value="apply_filter">Apply Filter</button>

        <!-- Adding list of the produce from the database -->

    <br>
    <br>
    <br>   

    <div class="tile is-ancestor" style="flex-wrap: wrap">
        {% for produce in produceList %}
            <div class="tile is-3 is-parent">
                <div class="tile is-child card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img onerror="this.src='https://bulma.io/images/placeholders/1280x960.png'" alt="Placeholder image" src="{{url_for('static', filename=produce['Image'])}}">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p  class="product_detail title is-4">{{ produce['Product'] }}</p>
                        <p  class="productType_detail subtitle is-6">{{ produce['Product Type'] }}</p>
                      </div>
                    </div>

                    <div class="content">
                      <span class="marketID_detail tag is-light">{{ produce['MarketID'] }}</span>
                    </div>
                    <footer class="card-footer">
                        <p  class="units_detail content is-small card-footer-item">
                            UNITS: {{ produce['units'] }}
                        </p>
                        <p  class="price_detail content is-small card-footer-item">PRICE: {{ produce['Price'] }}</p>
                        <a class="add_to_cart_button button card-footer-item is-small is-white" name="add_to_cart" value="add_to_cart" href="{{ url_for('shopping_cart') }}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                    </footer>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</section>
    
    <script src="{{ url_for('static', filename="main.js")}}"></script>
</section>
{% endblock %}
